@import '../../styles.scss';

.switch{
    opacity: 0;
}

.switch > div{
    width: 8rem;
    height: 4rem;
    background: $gray-color;
    position: relative;
    cursor: pointer;
    border-radius: 2rem;
}

.switch > div:before{
    content: '';
    position: absolute;
    height: 3.6rem;
    width: 3.6rem;
    background: #fff;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: all 150ms ease-out;
}

.switch > input:checked + div:before{
    left: 42px;
}

.switch > input:checked + div{
    background: $red-color;
}
