@import '../../../../styles.scss';

.container{
    background-color: $red-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 14px);
    width: 60px;
    border-radius: 0 40px 40px 0;
    figure{
        width: 50px;
        img{
            width: 100%;
        }
    }
}