@import '../../../../styles.scss';

:host{
    font-family: $roboto-font;
    display: flex;
    width: 20.6rem;
    flex-direction: column;
}
img{
    width: 20.6rem;
}
p{
    font-size: 1.4rem;
    margin-top: 1rem;
}


.title-container{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    h2{
        font-size: 1.8rem;
        font-weight: normal;
    }
}