:host{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    figure{
        width: 50%;
        img{
            width: 100%;
            min-width: 200px;
        }
    }
    div{
        // width: 50%;
    }
}

