<h1>Pedidos en proceso</h1>
<div class="card" *ngFor="let order of (orders$ | async)">
    <div class="card__product">
        <ul *ngFor="let product of order.products">
            <li> {{ product.title}} <strong>{{ product.quantity}}</strong></li>
        </ul>
    </div>
    <div class="card__info">
        <p class="item" >Cliente:{{order.client}}</p>
        <p class="item" >Mesa:{{order.table}} </p>
        <button (click)="changeStatusToReady(order.id)" class="item">Listo</button>
    </div>
</div>