@import '../../../../styles.scss';

:host{
    width: 100%;
}

.main--container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main--products{
    width: 50vw;
    &__item{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

.main--total{
    height: calc(100vh - 215px);
    width: 40vw;
    max-width: 418px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $yellow-color;
    &__container{
        width: 90%;
        height: 90%;
        background-color: rgba(255, 255, 255, .7);
        border-radius: $border-radius;
        padding: 10px;
    }
}

@include applyTo('m'){
    .main--container{
        display: block;
    }
}