@import '../../../../styles.scss';

.main--container{
    display: flex;
    width: 100%;
}

.main--products{
    width: 50%;
    &__item{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
