<app-input-section></app-input-section>
<div>
    <app-header-nav (tabChange)="changeTab($event)"></app-header-nav>
</div>

<section class="main--container">
    <div class="main--products">
        <div *ngIf="tab === 0" class="main--products__item">
            <app-breakfast-products  *ngFor="let productB of breakfastProducts" [product]="productB"></app-breakfast-products>
        </div>
        <div *ngIf="tab === 1" class="main--products__item">
            <app-lunch-products *ngFor="let productL of lunchProducts" [product]="productL"></app-lunch-products>
        </div>
        <div *ngIf="tab === 2"class="main--products__item">
            <app-drinks-products *ngFor="let productD of drinksProducts" [product]="productD"></app-drinks-products>
        </div>
    </div>
    <div class="main--total">
        <div class="main--total__container">
            <app-total-list></app-total-list>
        </div>
    </div>
</section>


