@import '../../../../styles.scss';

.container{
    background-color: $yellow-color;
    display: flex;
    &__img{
        height: 100vh;
        &--content{
            height: 100%;
        }
    };
    &__form{
        width: 100%;
        @extend %centerWithFlex;
        &--content{
            @extend %centerWithFlex;
            margin-bottom: 15px;
        }
    }
}
