@import '../../../../styles.scss';

:host{
    color: $dark-color;
}

h3,h4{
    font-size: 1.6rem;
    font-family: $cinzel-font;
}

.container{
    &__products{
        height: 410px;
        li{
            display: flex;
            justify-content: space-between;
            list-style: none;
            margin: 10px 0;
            font-size: 1.8rem;
            font-family: $roboto-font;
            button{
                font-size: 2rem;
                width: 3rem;
                height: 3rem;
                border: none;
                border-radius: 50px;
                background-color: $gray-color;
                color: $red-color;
                outline: none;
            }
        }
    }
    &__pay{
        width: 345px;
        position: absolute;
        bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button{
            @extend %button;
            background: $red-color;
        }
    }
}

// ul{
//     height: 410px;
//     li{
//         list-style: none;
//     }
// }

