<h4>Tu orden</h4>
<div class="container">
    <ul class="container__products">
        <li *ngFor="let product of total">{{product.title}} {{product.priceByQty | currency}}
            <button (click)="subtraction(product.id)">-</button>
            <p>{{product.quantity}}</p>
            <button (click)="sum(product.id)">+</button>
        </li>
    </ul>
    <div class="container__pay">
        <button (click)="sendOrder()">Enviar</button>
        <h3>Total {{ totalToPay | currency }}</h3>
    </div>
</div>