$cinzel-font: 'Cinzel', serif;
$roboto-font: 'Roboto', sans-serif;
$red-color: #f7473a;
$yellow-color: #f7b21f;
$dark-color: #2f3132;
$light-color: #fafafa;
$gray-color: #d1d2d2;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

body{
    background-color: $light-color;
}